# Sample config.yaml
#
Auth:
  region: "{{ region }}"
Metrics:
{%- for instance in resources %}
- Namespace: "AWS/EC2"
  MetricName: "CPUUtilization"
  Statistics:
  - "Maximum"
  - "Average"
  Unit: "Percent"
  Dimensions:
    InstanceId: "{{ instance.id }}"
  Options:
    {#- I'm assuming my tag names are safe to use as metric names here #}
    Formatter: 'collectd.{{ instance.tags['Name'] }}.%(MetricName)s.%(statistic)s.%(Unit)s'
    Period: 5

- Namespace: "AWS/EC2"
  MetricName: "DiskWriteOps"
  Statistics:
  - "Maximum"
  - "Average"
  Unit: "Count"
  Dimensions:
    InstanceId: "{{ instance.id }}"
  Options:
    {#- I'm assuming my tag names are safe to use as metric names here #}
    Formatter: 'collectd.{{ instance.tags['Name'] }}.%(MetricName)s.%(statistic)s.%(Unit)s'
    Period: 5

- Namespace: "AWS/EC2"
  MetricName: "DiskReadOps"
  Statistics:
  - "Maximum"
  - "Average"
  Unit: "Count"
  Dimensions:
    InstanceId: "{{ instance.id }}"
  Options:
    {#- I'm assuming my tag names are safe to use as metric names here #}
    Formatter: 'collectd.{{ instance.tags['Name'] }}.%(MetricName)s.%(statistic)s.%(Unit)s'
    Period: 5

- Namespace: "AWS/EC2"
  MetricName: "NetworkIn"
  Statistics:
  - "Maximum"
  - "Average"
  Unit: "Bytes"
  Dimensions:
    InstanceId: "{{ instance.id }}"
  Options:
    {#- I'm assuming my tag names are safe to use as metric names here #}
    Formatter: 'collectd.{{ instance.tags['Name'] }}.%(MetricName)s.%(statistic)s.%(Unit)s'
    Period: 5

- Namespace: "AWS/EC2"
  MetricName: "NetworkOut"
  Statistics:
  - "Maximum"
  - "Average"
  Unit: "Bytes"
  Dimensions:
    InstanceId: "{{ instance.id }}"
  Options:
    {#- I'm assuming my tag names are safe to use as metric names here #}
    Formatter: 'collectd.{{ instance.tags['Name'] }}.%(MetricName)s.%(statistic)s.%(Unit)s'
    Period: 5

{% endfor %}
